---
title: "her majesty"
date: 2020-09-13
type: essay
summary: "back in your arms mother my heart skips a beat as if to take a pause and inhale you fully once and for all as mind races to admire you with its limited vocabulary sssshh... ssshhh i'm silenced by your majesty leaving nothing but an..."
cardClass: "feed-item large bg-blue"
layout: layouts/post.njk
tags: [post, imported]
source: "https://kanthi.io/her-majesty/"
---
<figure class="hero__image hero__image--overlay"><img src="/assets/media/posts/9/IMG_20200911_163723.jpg" srcset="/assets/media/posts/9/responsive/IMG_20200911_163723-xs.jpg 300w, /assets/media/posts/9/responsive/IMG_20200911_163723-sm.jpg 480w, /assets/media/posts/9/responsive/IMG_20200911_163723-md.jpg 768w, /assets/media/posts/9/responsive/IMG_20200911_163723-lg.jpg 1024w, /assets/media/posts/9/responsive/IMG_20200911_163723-xl.jpg 1360w, /assets/media/posts/9/responsive/IMG_20200911_163723-2xl.jpg 1600w" sizes="(max-width: 1600px) 100vw, 1600px" loading="eager" height="2160" width="3840" alt=""></figure>

back in your arms<br>mother<br>my heart skips<br>a beat as if<br>to take a pause<br>and inhale you fully<br>once and for all<br>as mind races<br>to admire you<br>with its limited<br>vocabulary<br>sssshh... ssshhh<br>i'm silenced<br>by your majesty<br>leaving nothing<br>but an endless<br>dumbstruck gaze</div>
