---
title: "ReStart"
date: 2019-10-13
type: essay
summary: "Yet another blogging system. Yet another website."
cardClass: "feed-item large bg-sage"
layout: layouts/post.njk
tags: [post, imported]
source: "https://kanthi.io/restart/"
---
<figure class="hero__image hero__image--overlay"><img src="/assets/media/website/IMG_20200908_163233.jpg" srcset="/assets/media/website/responsive/IMG_20200908_163233-xs.jpg 300w, /assets/media/website/responsive/IMG_20200908_163233-sm.jpg 480w, /assets/media/website/responsive/IMG_20200908_163233-md.jpg 768w, /assets/media/website/responsive/IMG_20200908_163233-lg.jpg 1024w, /assets/media/website/responsive/IMG_20200908_163233-xl.jpg 1360w, /assets/media/website/responsive/IMG_20200908_163233-2xl.jpg 1600w" sizes="(max-width: 1600px) 100vw, 1600px" loading="eager" alt=""></figure>

Yet another blogging system. Yet another website.</div>
